<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:replace="~{fragments/layoutAdmin :: title}">Title</title>

    <th:block th:insert="~{fragments/layoutAdmin :: meta}"></th:block>

    <th:block th:insert="~{fragments/layoutAdmin :: link}"></th:block>

    <th:block th:insert="~{fragments/layoutAdmin :: head/script}"></th:block>


</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<div class="page-wrapper">
    <!-- BEGIN HEADER -->
    <div th:insert="~{fragments/headerAdminPartial :: headerAdminPartial}"></div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"></div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN PROGRESSBAR -->
        <div th:insert="~{fragments/loadingPartial :: loadingPartial}"></div>
        <!-- END PROGRESSBAR -->
        <!-- BEGIN PROGRESSBAR -->
        <div th:insert="~{fragments/progressBarPartial :: progressBarPartial}"></div>
        <!-- END PROGRESSBAR -->
        <!-- BEGIN NOTIFICATION -->
        <div th:insert="~{fragments/notificationPartial :: notificationPartial}"></div>
        <!-- END NOTIFICATION -->
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar navbar-collapse collapse ">
                <ul class="page-sidebar-menu page-header-fixed" data-keep-expanded="false" data-auto-scroll="true"
                    data-slide-speed="200">
                    <li class="sidebar-toggler-wrapper hide">
                        <div class="sidebar-toggler">
                            <span></span>
                        </div>
                    </li>
                    <li class="nav-item" id="nav-none">
                        <a href="/admin" class="nav-link nav-toggle">
                            <i class="icon-home"></i>
                            <span class="uppercase title">Trang chủ</span>
                            <span class="selected"></span></a>
                    </li>
                    <li class="nav-item active open" id="nav-b35fa3f4-4b89-4e9c-9693-5ab7fba3e8ef">
                        <a class="nav-link nav-toggle">
                            <i class="icon-user"></i>
                            <span class="uppercase title">Quản lý bạn đọc</span>
                            <span class="arrow" id="nav-span-b35fa3f4-4b89-4e9c-9693-5ab7fba3e8ef"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item" id="nav-patronmanagement-insert">
                                <a href="/patronmanagement/insert" class="nav-link">
                                    <span class="title">Thêm mới</span>
                                </a>
                            </li>
                            <li class="nav-item" id="nav-patronmanagement-list">
                                <a href="/admin/patronmanagement/list" class="nav-link">
                                    <span class="title">Danh sách</span>
                                </a>
                            </li>
                            <li class="nav-item" id="nav-blockedtracking-list">
                                <a href="/admin/blockedtracking/list" class="nav-link">
                                    <span class="title">Nhật ký khóa thẻ</span>
                                </a>
                            </li>
                            <li class="nav-item active open" id="nav-renewcardlog-list">
                                <a href="/admin/renewcardlog/list" class="nav-link">
                                    <span class="title">Nhật ký gia hạn thẻ</span>
                                </a>
                            </li>
                            <li class="nav-item" id="nav-patronmanagement-tools">
                                <a class="nav-link nav-toggle">
                                    <span class="title">Công cụ</span>
                                    <span class="arrow" id="nav-span-patronmanagement-tools"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item"
                                        id="nav-patronmanagement-patronmanagement-patrontypemanagement">
                                        <a href="/admin/patrontypemanagement/list" class="nav-link ">
                                            <span class="title">Loại bạn đọc</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" id="nav-0765c183-3c39-4a56-af3c-1fa4119698ca">
                        <a class="nav-link nav-toggle">
                            <i class="icon-notebook"></i>
                            <span class="uppercase title">Quản lý sách giấy</span>
                            <span class="arrow" id="nav-span-0765c183-3c39-4a56-af3c-1fa4119698ca"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item" id="nav-bibliographic-update">
                                <a href="/admin/booksmanagement/insert" class="nav-link">
                                    <span class="title">Thêm mới</span>
                                </a>
                            </li>
                            <li class="nav-item" id="nav-bibliographic-list">
                                <a href="/admin/booksmanagement/list" class="nav-link">
                                    <span class="title">Danh sách</span>
                                </a>
                            </li>
                            <li class="nav-item" id="nav-bibliographic-tools">
                                <a class="nav-link nav-toggle">
                                    <span class="title">Công cụ</span>
                                    <span class="arrow" id="nav-span-bibliographic-tools"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item" id="nav-cataloging-bibliographic-materialmanagement">
                                        <a href="/admin/materialmanagement/list" class="nav-link ">
                                            <span class="title">Loại tài liệu</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="nav-cataloging-bibliographic-mediatypemanagement">
                                        <a href="/admin/mediatypemanagement/list" class="nav-link ">
                                            <span class="title">Thể loại lưu trữ</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" id="nav-0e19b78e-9757-4394-837d-d3d9ebc33dfc">
                        <a class="nav-link nav-toggle">
                            <i class="icon-calculator"></i>
                            <span class="uppercase title">Quản lý mượn trả</span>
                            <span class="arrow" id="nav-span-0e19b78e-9757-4394-837d-d3d9ebc33dfc"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item" id="nav-checkout-index">
                                <a href="/admin/checkout/index" class="nav-link">
                                    <span class="title">Mượn trả</span>
                                </a>
                            </li>
                            <li class="nav-item" id="nav-circulation-history">
                                <a href="/admin/circulation/history" class="nav-link">
                                    <span class="title">Nhật ký lưu thông</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" id="nav-0e19b78e-9757-4394-837d-d3d9ebc33dfd">
                        <a class="nav-link nav-toggle">
                            <i class="icon-social-dribbble"></i>
                            <span class="uppercase title">Quản lý cổng thông tin</span>
                            <span class="arrow" id="nav-span-0e19b78e-9757-4394-837d-d3d9ebc33dfd"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item" id="nav-sitemanagement-list">
                                <a href="/admin/sitemanagement/list" class="nav-link">
                                    <span class="title">Quản lý site</span>
                                </a>
                            </li>
                            <li class="nav-item" id="nav-newsmanagement-list">
                                <a class="nav-link nav-toggle">
                                    <span class="title">Quản lý tin tức</span>
                                    <span class="arrow" id="nav-span-newsmanagement-list"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item" id="nav-portaladmin-newsmanagement-newsmanagement">
                                        <a href="/admin/newsmanagement/list" class="nav-link ">
                                            <span class="title">Tin tức</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="nav-portaladmin-newsmanagement-categorymanagement">
                                        <a href="/admin/categorymanagement/list" class="nav-link ">
                                            <span class="title">Chuyên mục</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="nav-portaladmin-newsmanagement-authormanagement">
                                        <a href="/admin/authormanagement/list" class="nav-link ">
                                            <span class="title">Tác giả</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item" id="nav-filesmanagement-list">
                                <a href="/admin/filesmanagement/list" class="nav-link">
                                    <span class="title">Quản lý tập tin</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" id="nav-226a6b8c-2fe3-4ef4-9405-c4cb5d728cef">
                        <a class="nav-link nav-toggle">
                            <i class="icon-users"></i>
                            <span class="uppercase title">Quản lý người dùng</span>
                            <span class="arrow" id="nav-span-226a6b8c-2fe3-4ef4-9405-c4cb5d728cef"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item" id="nav-usermanagement-list">
                                <a href="/admin/usermanagement/list" class="nav-link">
                                    <span class="title">Người dùng</span>
                                </a>
                            </li>
                            <li class="nav-item" id="nav-rolemanagement-list">
                                <a href="/admin/rolemanagement/list" class="nav-link">
                                    <span class="title">Phân quyền</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <!-- END SIDEBAR MENU -->
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content lv-pageContent">
                <!-- BEGIN PAGE BAR -->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="/admin">Trang chủ</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="">Quản lý bạn đọc</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="/admin/renewcardlog/list">Nhật ký gia hạn thẻ</a>
                        </li>
                    </ul>
                </div>
                <!-- END PAGE BAR -->
                <div class="page-content-main page-search">
                    <div class="page-content-1zone">
                        <div class="portlet light pt0 pb0">
                            <div class="portlet-body pb0">
                                <!--SEARCH-->
                                <div class="search-box">
                                    <div class="row">
                                        <div class="col-md-12 xs-mt-12">
                                            <div class="input-search-single">
                                                <input autofocus id="txt-um-keyword" type="text" class="form-control"
                                                       placeholder="Nhập từ khóa ...">
                                                <a class="btn green mr0 btn-search-text-single">
                                                    <i class="icon-magnifier mr5"></i>Tìm kiếm
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--END SEARCH-->
                                <!--LIST CONTENT-->
                                <div id="body-content">

                                    <div class="row mt10">
                                        <div class="col-md-6">
                                            <div class="doc-group-title">
                                                <span aria-hidden="true" class="icon-user-unfollow"></span>
                                                Tìm thấy tổng số <span id="lbl-getpaging-total"
                                                                       class="span-total">6</span>biểu ghi
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt10">
                                        <div class="col-md-12">
                                            <div class="searh-result">
                                                <div id="table-scroll" class="table-scroll">
                                                    <div class="table-scrollable">
                                                        <table class="table table-bordered main-table" style="width: 1600px">
                                                            <thead class="flip-content1">
                                                            <tr>
                                                                <th class="text-center">#</th>
                                                                <th>Mã bạn đọc</th>
                                                                <th>Tên bạn đọc</th>
                                                                <th>Loại bạn đọc</th>
                                                                <th>Giới tính</th>
                                                                <th>Ngày hết hạn cũ</th>
                                                                <th>Ngày hết hạn mới</th>
                                                                <th>Người thực hiện</th>
                                                            </tr>
                                                            </thead>

                                                            <tbody id="bodyView">
                                                            <tr>
                                                                <td class="text-center">1</td>
                                                                <td>
                                                                    <a href="">
                                                                        123
                                                                    </a>
                                                                </td>
                                                                <td>van tinh</td>
                                                                <td>Sinh viên</td>
                                                                <td>
                                                                    <span class="label label-sm label-info"> Nam</span>
                                                                </td>
                                                                <td>09/02/2021</td>
                                                                <td>18/04/2021</td>
                                                                <td>admin</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-center">2</td>
                                                                <td>
                                                                    <a href="">
                                                                        123
                                                                    </a>
                                                                </td>
                                                                <td>van tinh</td>
                                                                <td>Sinh viên</td>
                                                                <td>
                                                                    <span class="label label-sm label-info"> Nam</span>
                                                                </td>
                                                                <td>09/02/2021</td>
                                                                <td>18/04/2021</td>
                                                                <td>admin</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-center">3</td>
                                                                <td>
                                                                    <a href="">
                                                                        123
                                                                    </a>
                                                                </td>
                                                                <td>van tinh</td>
                                                                <td>Sinh viên</td>
                                                                <td>
                                                                    <span class="label label-sm label-info"> Nam</span>
                                                                </td>
                                                                <td>09/02/2021</td>
                                                                <td>18/04/2021</td>
                                                                <td>admin</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-center">4</td>
                                                                <td>
                                                                    <a href="">
                                                                        123
                                                                    </a>
                                                                </td>
                                                                <td>van tinh</td>
                                                                <td>Sinh viên</td>
                                                                <td>
                                                                    <span class="label label-sm label-info"> Nam</span>
                                                                </td>
                                                                <td>09/02/2021</td>
                                                                <td>18/04/2021</td>
                                                                <td>admin</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-center">5</td>
                                                                <td>
                                                                    <a href="">
                                                                        123
                                                                    </a>
                                                                </td>
                                                                <td>van tinh</td>
                                                                <td>Sinh viên</td>
                                                                <td>
                                                                    <span class="label label-sm label-info"> Nam</span>
                                                                </td>
                                                                <td>09/02/2021</td>
                                                                <td>18/04/2021</td>
                                                                <td>admin</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-center">6</td>
                                                                <td>
                                                                    <a href="">
                                                                        123
                                                                    </a>
                                                                </td>
                                                                <td>van tinh</td>
                                                                <td>Sinh viên</td>
                                                                <td>
                                                                    <span class="label label-sm label-info"> Nam</span>
                                                                </td>
                                                                <td>09/02/2021</td>
                                                                <td>18/04/2021</td>
                                                                <td>admin</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="pagination-control">
                                                <div class="row">
                                                    <div class="col-md-12 pull-right">
                                                        <div id="page-selection" class="padding-top-15 clearboth">
                                                            <ul class="pagination">
                                                                <li class="first disabled">
                                                                    <a href="#" class="page-link">
                                                                        <span class="ms-bold fa fa-angle-double-left">

                                                                        </span>
                                                                    </a>
                                                                </li>
                                                                <li class="prev disabled">
                                                                    <a href="#" class="page-link">
                                                                        <span class="ms-bold fa fa-angle-left"></span>
                                                                    </a>
                                                                </li>
                                                                <li class="page-item active">
                                                                    <a href="#" class="page-link">1</a></li>
                                                                <li class="page-item">
                                                                    <a href="#" class="page-link">2</a></li>
                                                                <li class="page-item">
                                                                    <a href="#" class="page-link">3</a></li>
                                                                <li class="page-item">
                                                                    <a href="#"
                                                                       class="page-link">4</a></li>
                                                                <li class="page-item">
                                                                    <a href="#" class="page-link">5</a></li>
                                                                <li class="next">
                                                                    <a href="#" class="page-link">
                                                                        <span class="ms-bold fa fa-angle-right"></span></a>
                                                                </li>
                                                                <li class="last">
                                                                    <a href="#" class="page-link">
                                                                        <span class="ms-bold fa fa-angle-double-right"></span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--END LIST CONTENT-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
            <!-- BEGIN MODAL -->
            <div class="modal fade"
                 id="stackPopup"
                 tabindex="-1"
                 role="dialog"
                 data-backdrop="static">
                <div class="modal-dialog ">
                    <div class="modal-content"
                         id="popupPageDetail">
                    </div>
                </div>
            </div>
            <!-- END MODAL -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
</div>
</body>
</html>