<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a th:href="@{/admin}">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="">Quản lý cổng thông tin</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a th:href="@{/admin/banner/list}">Banner</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Danh sách</span>
        </li>
    </ul>
</div>
</body>
</html>