<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div class="row mt10">
    <div class="col-md-6">
        <div class="doc-group-title">
            <span aria-hidden="true" class="fa fa-user-secret"></span>
            Tìm thấy tổng số <span id="lbl-getpaging-total"
                                   class="span-total"
                                   th:text="${list.size()}"></span>biểu ghi
        </div>
    </div>
    <div class="col-md-6">
        <div class="doc-group-title pull-right">
            <a th:href="@{/admin/oto/insert}" class="btn green">
                <i class="icon icon-plus mr5"></i>
                Thêm
            </a>
        </div>
    </div>
</div>

<div class="row mt10">
    <div class="col-md-12">
        <div class="searh-result">
            <div id="table-scroll" class="table-scroll">
                <div class="table-scrollable" style="min-height:initial !important">
                    <table class="table table-bordered main-table"
                           style="width: 1600px">
                        <thead class="flip-content1">
                        <tr>
                            <th class="text-center" style="width: 40px">#</th>
                            <th class="text-center">Mã xe</th>
                            <th class="text-center">Tên xe</th>
                            <th class="text-center">Biển số xe</th>
                            <th class="text-center">Hãng xe</th>
                            <th class="text-center">Loại xe</th>
                            <th class="text-center">Giá mượn</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-center">Ngày cập nhật</th>
                            <th class="text-center">Thao tác</th>
                        </tr>
                        </thead>

                        <tbody id="bodyView">
                        <tr th:each="listOto,iterStat : ${oto}">
                            <td class="text-center"
                                th:text="${iterStat.count+(pagesize*(currentPage))}">
                                #
                            </td>
                            <td class="text-center">
                                <a th:href="@{/admin/oto/update(id=${listOto.id})}">
                                    <span th:text="${listOto.code}"></span>
                                </a>
                            </td>
                            <td th:text="${listOto.name}">Tên xe</td>
                            <td class="text-center" th:text="${listOto.license_plates}">Biển số xe</td>
                            <td class="text-center"
                                th:text="${listOto.car_company_id.name}">Hãng xe
                            </td>
                            <td class="text-center"
                                th:text="${listOto.category_id.name}">Loại xe
                            </td>
                            <td class="text-center">
                                <span th:utext="${#numbers.formatDecimal(listOto.price,3,'POINT',0,'POINT')}"></span>
                                <span>Đ/Ngày</span>
                            </td>
                            <td class="text-center" th:utext="${listOto.statusDisplay()}">Trạng thái</td>
                            <td class="text-center"
                                th:text="${#dates.format(listOto.updateDate, 'dd-MM-yyyy')}">Ngày cập nhật
                            </td>

                            <td class="text-right">
                                <a class="btn btn-xs btn-icon-only btn-info"
                                        title="Cập nhật"
                                   th:href="@{/admin/oto/update(id=${listOto.id})}">
                                    <i class="icon icon-pencil mr5"></i>
                                </a>

                                <button class="btn btn-xs red btn-icon-only"
                                        title="Xóa"
                                        th:onclick="'core_lstpage.onDelete('+${listOto.id}+')'">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>

                                <button th:if="${listOto.status == 1}"
                                        class="btn btn-xs yellow btn-icon-only"
                                        title="Duyệt"
                                        th:onclick="'core_lstpage.onUpdateStatus('+${listOto.id}+','+${listOto.status}+')'">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>

                                <button th:if="${listOto.status == 0}"
                                        class="btn btn-xs green btn-icon-only"
                                        title="Hủy duyệt"
                                        th:onclick="'core_lstpage.onUpdateStatus('+${listOto.id}+','+${listOto.status}+')'">
                                    <i class="fa fa-minus-square"
                                       aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" th:if="${list.size()} > ${pagesize}">
        <div class="pagination-control">
            <div class="row">
                <div class="col-md-12 pull-right">
                    <div id="page-selection" class="padding-top-15 clearboth">
                        <ul class="pagination">
                            <li th:class="${isFirstPage}? 'page-item disabled' : 'page-item'">
                                <a th:href="@{/admin/oto/list(pageindex=1)}"
                                   class="page-link">
                                    <span class="ms-bold fa fa-angle-double-left"></span>
                                </a>
                            </li>
                            <li th:each="page : ${pages}"
                                th:class="${page == currentPage ? 'page-item active' :'page-item' }">
                                <a th:href="@{/admin/oto/list(pageindex=${page + 1})}"
                                   class="page-link">
                                    <span th:utext="${page+1}"></span>
                                </a>
                            </li>
                            <li th:class="${isLastPage}? 'page-item disabled' : 'page-item'">
                                <a th:href="@{/admin/oto/list(pageindex=${endPage})}"
                                   class="page-link">
                                    <span class="ms-bold fa fa-angle-double-right"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>