<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="rightMenuBooksPartial">
    <div class="c-content-tab-1 c-theme">
        <div class="nav">
            <ul class="nav nav-tabs">
                <li class="c-title c-font-bold c-font-uppercase active"><a href="#blog_recent_posts" data-toggle="tab">Sách
                    mới nhất</a></li>
                <li class="c-title c-font-bold c-font-uppercase"><a href="#blog_popular_posts" data-toggle="tab">Sách
                    đọc nhiều</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="blog_recent_posts">
                    <ul class="c-content-recent-posts-1">
                        <li>
                            <div class="c-image">
                                <img src="/webportal/img/books/sach1.jpg" alt=""
                                     class="img-responsive">
                            </div>
                            <div class="c-post">
                                <a href="" class="c-title">
                                    Tiêu đề sách
                                </a>
                                <div class="c-date">Tác giả</div>
                                <div class="c-date">Nhà xuất bản</div>
                            </div>
                        </li>
                        <li>
                            <div class="c-image">
                                <img src="/webportal/img/books/sach2.jpg" alt=""
                                     class="img-responsive">
                            </div>
                            <div class="c-post">
                                <a href="" class="c-title">
                                    Tiêu đề sách
                                </a>
                                <div class="c-date">Tác giả</div>
                                <div class="c-date">Nhà xuất bản</div>
                            </div>
                        </li>
                        <li>
                            <div class="c-image">
                                <img src="/webportal/img/books/sach3.jpg" alt=""
                                     class="img-responsive">
                            </div>
                            <div class="c-post">
                                <a href="" class="c-title">
                                    Tiêu đề sách
                                </a>
                                <div class="c-date">Tác giả</div>
                                <div class="c-date">Nhà xuất bản</div>
                            </div>
                        </li>
                        <li>
                            <div class="c-image">
                                <img src="/webportal/img/books/sach4.jpg" alt=""
                                     class="img-responsive">
                            </div>
                            <div class="c-post">
                                <a href="" class="c-title">
                                    Tiêu đề sách
                                </a>
                                <div class="c-date">Tác giả</div>
                                <div class="c-date">Nhà xuất bản</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="blog_popular_posts">
                    <ul class="c-content-recent-posts-1">
                        <li>
                            <div class="c-image">
                                <img src="/webportal/img/books/sach7.jpg" alt=""
                                     class="img-responsive">
                            </div>
                            <div class="c-post">
                                <a href="" class="c-title">
                                    Tiêu đề sách
                                </a>
                                <div class="c-date">Tác giả</div>
                                <div class="c-date">Nhà xuất bản</div>
                            </div>
                        </li>
                        <li>
                            <div class="c-image">
                                <img src="/webportal/img/books/sach6.jpg" alt=""
                                     class="img-responsive">
                            </div>
                            <div class="c-post">
                                <a href="" class="c-title">
                                    Tiêu đề sách
                                </a>
                                <div class="c-date">Tác giả</div>
                                <div class="c-date">Nhà xuất bản</div>
                            </div>
                        </li>
                        <li>
                            <div class="c-image">
                                <img src="/webportal/img/books/sach5.jpg" alt=""
                                     class="img-responsive">
                            </div>
                            <div class="c-post">
                                <a href="" class="c-title">
                                    Tiêu đề sách
                                </a>
                                <div class="c-date">Tác giả</div>
                                <div class="c-date">Nhà xuất bản</div>
                            </div>
                        </li>
                        <li>
                            <div class="c-image">
                                <img src="/webportal/img/books/sach4.jpg" alt=""
                                     class="img-responsive">
                            </div>
                            <div class="c-post">
                                <a href="" class="c-title">
                                    Tiêu đề sách
                                </a>
                                <div class="c-date">Tác giả</div>
                                <div class="c-date">Nhà xuất bản</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>