<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:replace="~{fragments/layoutAdmin :: title}">Title</title>

    <th:block th:insert="~{fragments/layoutAdmin :: meta}"></th:block>

    <th:block th:insert="~{fragments/layoutAdmin :: link}"></th:block>

    <th:block th:insert="~{fragments/layoutAdmin :: head/script}"></th:block>


</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<div class="page-wrapper">
    <!-- BEGIN HEADER -->
    <div th:insert="~{fragments/headerAdminPartial :: headerAdminPartial}"></div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"></div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN PROGRESSBAR -->
        <div th:insert="~{fragments/loadingPartial :: loadingPartial}"></div>
        <!-- END PROGRESSBAR -->
        <!-- BEGIN PROGRESSBAR -->
        <div th:insert="~{fragments/progressBarPartial :: progressBarPartial}"></div>
        <!-- END PROGRESSBAR -->
        <!-- BEGIN NOTIFICATION -->
        <div th:insert="~{fragments/notificationPartial :: notificationPartial}"></div>
        <!-- END NOTIFICATION -->
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- BEGIN SIDEBAR -->
            <th:block th:include="/admin/category/menu.html"></th:block>
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content lv-pageContent">
                <!-- BEGIN PAGE BAR -->
                <th:block th:include="/admin/category/breadcrumb.html"></th:block>
                <!-- END PAGE BAR -->
                <div class="page-content-main page-search">
                    <div class="page-content-1zone">
                        <div class="portlet light pt0 pb0">
                            <div class="portlet-body pb0">
                                <!--SEARCH-->
                                <th:block th:include="/admin/category/search.html"></th:block>
                                <!--END SEARCH-->
                                <!--LIST CONTENT-->
                                <div id="body-content">
                                    <th:block th:include="/admin/category/getPaging.html"></th:block>
                                </div><!--END LIST CONTENT-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
            <!-- BEGIN MODAL -->
            <!-- INSERT-->
            <th:block th:include="/admin/category/insert.html"></th:block>
            <!--UPDATE-->
            <th:block th:include="/admin/category/update.html"></th:block>
            <!-- END MODAL -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
</div>
</body>
</html>
<script type="text/javascript">
    var ctorPage = {
        UrlDelete: '/category/delete',
        updateStatus: '/category/status',
        btnCssDefault: 'a.btn-df',
        TextYes: 'Có',
        TextNo: 'Không',
        TextDelAskMsg: 'Bạn có chắc chắn XÓA biểu ghi này ?'
    };

    var core_lstpage = {

        onUpdate: function (id) {
            $('.categoryForm #stackPopupCategory').modal();
            var href = $(this).attr('href');
            var url = "http://localhost:8082/admin/category/update?id=" + id;
            $.ajax({
                url: url,
                success: function (data) {
                    document.getElementById("code_category").value = data.code;
                    document.getElementById("name_category").value = data.name;
                    document.getElementById("description_category").value = data.description;
                    document.getElementById("id").value = id;
                }
            })
        },

        onDelete: function (id) {
            bootbox.confirm({
                message: ctorPage.TextDelAskMsg,
                buttons: {
                    confirm: {
                        label: ctorPage.TextYes,
                        className: 'btn-success'
                    },
                    cancel: {
                        label: ctorPage.TextNo,
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        var param = {
                            id: id
                        }
                        ShowLoading();
                        core_services.postAsync(ctorPage.UrlDelete, JSON.stringify(param)
                            , function (res) {
                                HideLoading();
                                if (res) {
                                    core_lstpage.onReload();
                                } else {
                                    // showErrorToast();
                                }
                                ore_lstpage.onReload();
                            }
                            , function () {
                                // showErrorToast();
                                core_lstpage.onReload();
                            });
                    }
                }
            });
        },

        onUpdateStatus: function (_id, _status) {
            var msg = 'Bạn có chắc chắn muốn duyệt loại xe này không ?';
            if (_status === 0) {
                msg = 'Bạn có chắc chắn hủy duyệt loại xe này không ?';
            }
            bootbox.confirm({
                message: msg,
                buttons: {
                    confirm: {
                        label: ctorPage.TextYes,
                        className: 'btn-success'
                    },
                    cancel: {
                        label: ctorPage.TextNo,
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        var Book = {
                            id: _id,
                            status: _status
                        }
                        console.log(_id);
                        ShowLoading();
                        core_services.postAsync(ctorPage.updateStatus, JSON.stringify(Book)
                            , function (res) {
                                HideLoading();
                                if (res) {
                                    core_lstpage.onReload()
                                } else {
                                    // core_notification.updateFail();
                                    core_lstpage.onReload()
                                }
                                core_lstpage.onReload();
                            }
                            , function () {
                                // core_notification.updateFail();
                                core_lstpage.onReload();
                            });
                    }
                }
            });
        },

        onReload: function () {
            HideLoading();
            window.location.reload();

        },

    }
</script>